.key
  background offWhite
  padding 1.6rem 3.4rem 3rem 3.4rem
  width 23rem
  &__group
    display inline-flex
    align-items center
  &__description
    display inline-block
    font-size 1.6rem
    font-weight 500
    padding-left 2rem
  &__square
    border 0.1rem solid mediumGrey
    display inline-block
    width 1em
    height 1em
    &--bu1
      background subject1
    &--bu2
      background subject2
    &--bu3
      background subject3
    &--bu4
      background subject4
    &--bu5
      background subject5
